* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #E09689;
}

.para {
    color: rgb(241, 246, 250);
    font-size: 2rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.container {
    margin: 0 auto;
    width: 50%;
    height: 50vh;
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.rectangle {
    width: 60%;
    height: 30vh;
    background-image: url('morning.jpeg');
    background-size: cover;
    background-position: center;
    border-radius: 40%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transition: background-image 0.5s; 
}

.circle {
    width: 40%;
    height: 20vh;
    background-color: rgb(249, 210, 184);
    border-radius: 50%;
    margin-right: 10px;
    transition: background-color 0.5s, transform 0.5s; 
    cursor: pointer;
}
.change-image {
    background-image: url('night.jpeg') !important;
  }
  
.move-right {
    justify-content: flex-end !important;
  }
.change-color{
    background-color: black;
}
.change-bgColor{
    background-color: #ACAFE6;
}

/* #circle:hover {
    background-color: #ACAFE6;
    
}
.rectangle:hover {
    background-image: url('/Users/mac/Desktop/My Code/javaScript/Button/night.jpeg');
} */